
*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.drawer-container h1{
    font-size: 2rem;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.drawer-container h2{
    font-size: 1.5rem;
    font-weight:500;
}

.drawer-container h3{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(179, 174, 174);
}

.drawer-container p{
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

a,button{
    text-decoration: none;
    cursor: pointer;
}

*,*::after,*::before{
    transition: all ease 0.3s;
}

.container-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.drawer-container{
    max-width: 1000px;
    max-height: 90vh;
    width: 100%;
    border: solid 1px red;
    padding: 0;
    display: flex;
    font-size: 0.8rem;
    position: relative;
    overflow: hidden;
}

.tr-hamburger{
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: transparent;
}

.tr-drawer{
    font-size: 1rem;
    overflow-y: hidden;
    flex-shrink: 0;
    background-color: #fff;
    overflow-x: hidden;
    width: 18em;
    padding: 20px 0 20px 20px;
}

.tr-drawer hr{
    margin: 5px auto;
    width: 90%;
    border: none;
    border-top: solid 1px #ccc;
    
}

.tr-drawer-content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 85%;
    padding: 0 20px 0 0;
}


.tr-stacked-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tr-stacked-links a{
    padding: 10px;
    color: #051657;
    border: none;
}

main{
    flex: 1;
    max-height: 100%;
    overflow-y: scroll ;    
}

header{
    display: flex;
    align-items: center;
    gap: 3em;
    color: #fff;
    background-color: #051657;
    padding: 10px;
}

.main-content{
    padding: 5vh 5vw;
}

.drawer-container .main-content p{
    font-size: 1.5em;
    margin-top: 50px;
}


/********* Dissmissible drawer **********/
.tr-dismissible-drawer{
    width: 0;
    padding: 0;
}

.tr-dismissible-drawer.active{
    width: 18em;
    padding: 20px 0 20px 20px;
}


/********* Modal drawer **********/

.tr-modal-drawer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    /* transition: left ease 1s; */
    z-index: 99;
}

.tr-modal-drawer.active{
    left: 0;
}

.tr-modal-drawer.active +*::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
}

.tr-icon-label-btn{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.tr-icon-label-btn >*{
    border: none;
    outline: none;
    text-decoration: none;
}

.tr-btn:hover{
    background-color: hsla(180, 100%, 25%,0.2);
    /* color: var(--tr-primary); */
}

.tr-btn:focus{
    background-color: hsla(180, 100%, 25%,0.4);
    /* color: var(--tr-primary); */
}