@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto&family=Raleway:wght@600&display=swap');
/* @import url(./card-variants.css); */

*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.tr-card{
    --radius:.3em;
    --primary-color:#008080;
    --secondary-color:#0f1657;
    --bg-light:hsla(180, 100%, 25%,0.2);
    --bg-dark: hsla(180, 100%, 25%,0.4);
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));
    align-items: center;
    justify-items: center;
    gap: 1.25rem;
}

.tr-card{
    align-self: center;
    font-family: 'Roboto', serif;
    padding: 1.25em;
    border-radius: var(--radius);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    max-width: 18.75em;
    position: relative;
    box-shadow: inset .0em .0em .3em rgba(0,0,0,0.2), inset .0em .0em .62em rgba(0,0,0,0.2), .0em .0em 1.25em rgba(0,0,0,0.4);
    font-size: 1rem;
    font-size: clamp(0.625rem, 1rem, 2rem);
}

.tr-card-banner img{
    width: 100%;
    border-radius: var(--radius) ;
}

.tr-card-header h2{
    font-size: 1.5em;
    color: var(--primary-color);
}

.tr-card-header h3{
    color: gray;
    font-size: 0.9em;
}

.tr-card-body p{
    font-size: .9em;
    color: gray;
}

.tr-card-badge{
    position: absolute;
    font-size: .9em;
    top: 1.0em;
    right: -.625em;
    padding: 0.5em 1.5em;
    background-color: var(--secondary-color) ;
    color: #fff;
}

.tr-card-badge::after{
    content:"";
    border-top: .4em solid var(--secondary-color);
    border-left: .4em solid var(--secondary-color);
    border-right: .4em solid transparent;
    border-bottom: .4em solid transparent;
    bottom: -.7em;
    height: 0;
    position: absolute;
    right: -1px;
    width: 0;
}

.tr-card-footer{
    display: flex;
    justify-content: space-between;
}

.tr-card-footer >*{
    display: flex;
    gap: 1.25em;
}

.tr-card-footer-links a{
    color: var(--secondary-color);
    font-weight: 500;
    padding: .37em;
    border-radius: var(--radius);
    font-size: 0.9em;
    border: none;
}

.tr-card-footer-buttons{
    gap: 1.5em;
}

.tr-card-footer-buttons button{
    background-color: transparent;
    font-size: 1.1em;
    border: none;
}

.tr-card-footer-buttons button:hover{
    background-color: var(--primary-color);
}

.tr-card-footer-links a, .tr-card-footer-buttons button{
    color: var(--secondary-color);
    position: relative;
    background-color: transparent;
    z-index: 2;
}

.tr-card-footer-links a:hover{
    background-color: var(--bg-light);
    color: var(--secondary-color);
    backdrop-filter: blur(3.0em);
}

.tr-card-footer-links a:focus{
    background-color: var(--bg-dark);
    color: var(--tr-primary);
}

.tr-card-footer-buttons button:hover{
    background-color: transparent;
}

.tr-card-footer-buttons button:focus{
    transform: scale(1);
    outline: none;
}
.tr-card-footer-buttons button::after{
    height: 1.8em;
    width: 1.8em;
    content: '';
    position: absolute;
    background-color: var(--bg-light);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    transition: all ease 0.3s;
}

.tr-card-footer-buttons button:hover::after{
    transform: translate(-50%, -50%) scale(1);
}

.tr-card-footer-buttons button:focus::after{
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--bg-dark) ;
}


/******** Header over media Card *********/


.tr-card-header-over .tr-card-banner{
    position: relative;
    order: -1;
}

.tr-card-header-over .tr-card-banner::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient( transparent 20%, var(--secondary-color) );
    border-radius: 0 0 var(--radius) var(--radius);
}

.tr-card-header-over .tr-card-header{
    padding: 0.62em;
    margin-top: -4.5em;
    position: relative;
    z-index: 2;
}

/******** Header before media Card *********/

.tr-card-header-first .tr-card-header{
    order: -1;
}

.tr-card-header-first .tr-card-badge{
    top: -2%;
}

/******** only links *********/

.tr-card-only-links .tr-card-footer{
    justify-content:center;
}

.tr-card-only-links .tr-card-footer-links{
    width: 100%;
}

.tr-card-only-links .tr-card-footer-links a{
    flex: 1;
    text-align: center;
    background-color: var(--bg-light);
}

.tr-card-only-links .tr-card-footer-buttons{
    display: none;
}


/********** Horizontal card *************/

.tr-card-hor{
    flex-flow: row wrap;
    max-width: 20em;
    padding: 0.625em;
}

.tr-card-hor .tr-card-banner{
    width: 7.8em;
}

.tr-card-hor .tr-card-header{
    align-self: center;
}

.tr-card-hor .tr-card-badge{
    top: -11%;
}

.tr-card-hor .tr-card-body{
    display: none;
}

.tr-card-hor .tr-card-footer{
    flex-grow: 1;
}


/********** Only Icons *************/

.tr-card-only-icons .tr-card-footer{
    justify-content: flex-end;
}

.tr-card-only-icons .tr-card-footer-links{
    display: none;
}